@using Eterna.Models

@model Service




    @if (Model==null)
    {
        <h1>Error</h1>
    }
    else{

    <section style="margin-top:4rem" id="services" class="services">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon">@Html.Raw(Model.icon)</div>
                        <h4><a>@Model.Title</a></h4>
                        <p>@Model.Body</p>
                    </div>
                </div>
            </div>

            <div style="margin-top:2rem">
                <h1>Lorem ispum</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                    optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                    obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                    nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                    tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
                    quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos
                    sapiente officiis modi at sunt excepturi expedita sint
                </p>
            </div>

        </div>
    </section>
    }


